[project]
	description = Gamejam Graz 2014 II Entry
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marco Fruhwirth (mfpi)
[access "refs/for/refs/*"]
	read = group user/Marco Fruhwirth (mfpi)
	push = group user/Marco Fruhwirth (mfpi)
	label-Code-Review = -2..+2 group user/Marco Fruhwirth (mfpi)
	label-Verified = -1..+1 group user/Marco Fruhwirth (mfpi)
	rebase = group user/Marco Fruhwirth (mfpi)
	removeReviewer = group user/Marco Fruhwirth (mfpi)
	submit = group user/Marco Fruhwirth (mfpi)
[access "refs/heads/*"]
	read = group user/Marco Fruhwirth (mfpi)
	create = group user/Marco Fruhwirth (mfpi)
	push = +force group user/Marco Fruhwirth (mfpi)
	pushMerge = group user/Marco Fruhwirth (mfpi)
[access "refs/tags/*"]
	push = +force group user/Marco Fruhwirth (mfpi)
	pushTag = group user/Marco Fruhwirth (mfpi)
	pushSignedTag = group user/Marco Fruhwirth (mfpi)
